@{
    ViewData["Title"] = "Email Engine";
}

<h1>A&A Milestone Tracker</h1>

<h2>Create new milestone distribution</h2>
<p>Create your monthly milestone distribution with the click of a button.  This will not only setup an initial distribution for the monthly projects, but also setup reoccuring emails to keep up to date on the progress of the form launch.  Each milestone date will be tracked with reminder emails to keep you and your account team up to date and on track with the progress of the monthly launch.</p>
<a class="btn btn-primary" asp-action="New" asp-controller="EmailEngine">Create New Milestone Distribution</a>
