@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>EcoSure - A&A</h1>
    <h2>Form Development tools</h2>
    <p>We have created a suite of productivity apps to expidite the workflow of the EcoSure => RizePoint collaboration.</p>
</div>