@{
    ViewData["Title"] = "List Of Tools";
}

<div>
    <h1>A&A Apps</h1>
    <ul>
        <li><a asp-controller="EmailEngine" asp-action="Index">MileStone Email Engine</a></li>
        <li><a asp-controller="TestDb" asp-action="Index">Test DB</a></li>
    </ul>
</div>
