@{
    ViewData["Title"] = "Test Database";
}

<div>
    @using (Html.BeginForm("New", "TestDb"))
    {
        <div class="col-md-6 col-md-offset-2">
            <label>Name </label>
            <div class="form-group">
                <input name="name" type="text" class="form-group" />
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <label>Email </label>
            <div class="form-group">
                <input name="email" type="text" class="form-group" />
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    }
</div>